# === 공통 ===
.DS_Store
node_modules/
dist/
*.log
*.tmp
*.sw?

# === 백엔드 ===
/backend/bin/
/backend/build/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/.apt_generated
/backend/.factorypath
/backend/.sts4-cache
/backend/src/main/resources/application.yml

# === 프론트엔드 ===
/frontend/node_modules/
/frontend/dist/
/frontend/.local

# === 개발 환경 (STS 등) ===
.metadata/